@{
    ViewData["Title"] = "Home Page";
}

<div class="main-layout">

</div>

<div class="jumbotron" style="background: url('/img/layout/main-banner.jpg') #ff6a00; background-size: 100%; background-repeat: no-repeat; background-attachment: fixed; color: #fff; text-align:left;">
    <h1>Bienvenidos a nuestra <strong>Intranet</strong></h1>
    <p>La web donde podrá encontrar toda la información empresarial de su interés.</p>
</div>
<div>
    <span class="text-muted small">@Environment.OSVersion @(Environment.Is64BitProcess ? "x64" : "x86")</span>
</div>