@model Ingeco.Intranet.Models.CreateUserViewModel

@{
    ViewData["Title"] = "Nuevo usuario";
}

<h1><span class="fas fa-user-circle"></span> Nuevo usuario</h1>

<h4>Rellene debidamente el formulario para registrar el nuevo usuario.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div id="pic-preview" class="profile-pic-preview">
                <img src="/account/profiletempphoto" id="profile-pic-preview" />
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="profile-photo-upload"><span class="fa fa-photo-video"></span></span>
                    </div>
                    <div class="custom-file overflow-hidden">
                        <input type="file" class="custom-file-input" id="profilephoto" name="profilephoto" aria-describedby="profile-photo-upload">
                        <label id="profile-pic-filename" class="custom-file-label" for="profile-photo">Elegir foto</label>
                    </div>
                </div>
                <small class="form-text text-muted mt-n3">
                    La imágen no debe de ser mayor (1000x1000)px.
                </small>
            </div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-footer">
            <a asp-action="Index"><span class="fa fa-arrow-alt-circle-left"></span> Regresar al listado</a>
            <div class="form-group justify-content-end">
                <input type="submit" value="Crear usuario" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery.ajaxfileupload.js"></script>
    <script>
        $("#profilephoto").ajaxfileupload({
            'action': '/account/uploadtempuserphoto',
            'onComplete': function (response) {
                RefreshProfilePic("profile-pic-preview");

                var filepath = $("#profilephoto").val();
                var pieces = filepath.split("\\");
                var filename = pieces[pieces.length - 1];
                $("#profile-pic-filename").html(filename);
            },
        });

        function RefreshProfilePic(imgElement) {
            var timestamp = new Date().getTime();
            var el = document.getElementById(imgElement);
            var queryString = "?t=" + timestamp;
            el.src = "/account/ProfileTempPhoto" + queryString;
        }
    </script>
}